body
{
  background-color: rgb(247, 247, 247);
  height: 3000px;

}

/*-------------BOTON SUBIR------------*/

.go-top-container
{
  position: fixed;
  bottom: 0rem;
  right: 1rem;
  width: 2.6rem;
  height: 2.6rem;
  z-index: -1;
}

.go-top-button
{
  width: 0rem;
  height: 0rem;
  background: rgba(0, 149, 255, 0.7);
  border-radius: 50%;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*para que este en el centro de top y left que hemos puesto*/
  z-index: -1;
}

.go-top-button i
{
  position: absolute;
  font-size: 1.7rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0); /*scale * porque no queremos que al principio tenga ningun tamaño*/
  color: white;
  transition: 1s;
}

.show
{
  z-index: 10;
}

.show .go-top-button
{
  animation: popup .3s ease-in-out;
  width: 2.6rem;
  height: 2.6rem;
  z-index: 11;
}

.show i
{
  transform: translate(-50%, -50%) scale(1);
}

@keyframes popup { /*sirve para poder ir cambiando el tamaño del icono*/
  0%{
    width: 0rem;
    height: 0rem;
  }
  50%{
    width: 8rem;
    height: 8rem;
  }
  100%{
    width: 6.6rem;
    height: 6.6rem;
  }
}

/*--------------------------------------*/

#header{
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.navbar-light .navbar-brand {
    color: #ffffff;
}

.parallax {
  /* ls imsghne usada */
  background-image: url(https://www.incibe-cert.es/sites/default/files/styles/listado_315x180/public/contenidos/blog/portada3d.jpg?itok=AMxWzsmX);

  /* Set a specific height */

  min-height: 50vw;
  width: 100%;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax1 {
  /* ls imsghne usada */
  background-image: url(https://static.wixstatic.com/media/bce2f335cdbb443a856229bf990d58ec.jpg/v1/fill/w_768,h_660,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/bce2f335cdbb443a856229bf990d58ec.webp);

  /* Set a specific height */

  min-height: 50vw;
  width: 100%;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
}


.sombra
{
  border: 3px solid rgba(127, 177, 251, 1);
  outline: none;
  box-shadow: 3px 0px 30px rgba(0, 247, 255, 0.12);
}

.parallax2 {
  /* ls imsghne usada */
  background-image: url(https://static.wixstatic.com/media/3c49a22fc25741b5822dae3a998041cf.jpg/v1/fill/w_768,h_660,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/3c49a22fc25741b5822dae3a998041cf.webp);

  /* Set a specific height */

  min-height: 50vw;
  width: 100%;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.div1
{
  height: auto;
  min-height: 1px;
  background-color: rgb(247, 247, 247);
  padding-bottom: 40px;
}

.parallax1:hover
{
  height: 300px;
  transition: height 2s;
}

.card1
{
  padding: 20px;
}

.div2
{
  background-color: white;
  height: 30vh;
}

.div3
{
  background-color: white;
  height: 92vh;
}

.top
{
  top: 90vh;
}

.titulos
{
  font-size: 7vw;
  font-weight: 100;
  text-align: center;
  padding-top: 40px;
}

.titulopar
{
  text-align: center;
  padding-top: 2vh;
}

.textop
{
  color: white;
  font-size: 3vw;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #f8f9fa;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}
.trasp
{
  top: 75px;
  display: block;
  position: relative;
  background-color: transparent;
  align-items: center;
}
.M
{
  font-size: 7vw; /*proporcion del font-sze con respecto a la pantalla donde se va a visualizar*/
  text-align: center;
  color: White;
}

.flotard{
  float: right;
}

.top
{
  vertical-align: middle;
  display:inline-block;
}
.icon-text{
  clear: left;
  text-align: right;
  vertical-align: middle;
  line-height:25px;
}
.icon
{
  position: relative;
  left: 700px;
  top: -70px;
  max-width: 150px;
  max-height: 50px;
}

.logopos
{
  position: absolute;
  top: 100px;
  left: 48%;
}
.divr:hover
{
  transition: 0.25s;
  background-color: rgba(78, 166, 158, 0.30)
}


/*--------------------------------------------------------------------------FORMULARIO----------------------------------------------------------------------------------------*/

main
{
  max-width: 800px;
  width: 90%;
  margin: auto;
  padding: 40px;
}


.formulario
{
  display: grid;
  grid-template-columns: 1fr 1fr; /* 1fr es una columna por lo que tendremos 2 columnas*/
  gap: 22px; /* espaciado */
}

.flabel
{
  display: block;
  font-weight: 750;
  padding: 10px;
  cursor: pointer;
}


.gform-in
{
  position: relative;
}


.form-in
{
  width: 100%;
  background: #FFF;
  border: 2px solid transparent;
  border-radius: 2px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 2s;
}


.form-in:focus
{
  border: 3px solid rgba(127, 177, 251, 1);
  outline: none;
  box-shadow: 3px 0px 30px rgba(0, 247, 255, 0.12);
}


.error
{
font-size: 12px;
margin-bottom: 0;
display: none;
}


.error-active
{
  display: block;
}


.validar
{
  position: absolute;
  right: 10px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  opacity: 0;
}


.fcheck
{
    margin-right: 10px;
}


.fcheck, .mensaje, .btn-enviar
{
  grid-column: span 2;
}


.mensaje
{
  height: 45px;
  line-height: 45px;
  background: rgba(255, 0, 0, 0.9);
  padding: 0 15px;
  border-radius: 2px;
  display: none;
}

.mensaje p
{
  margin: 0;
}


.mensaje-activo
{
  display: block;
}



.btn-enviar
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnenviar
{
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: rgba(0, 0, 0, 0.95);
  color: #FFF;
  font-weight: bold;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 1s;
}


.btnenviar:hover
{
  box-shadow: 3px 0px 30px rgba(72, 74, 74, 0.32);
}


.exito
{
  font-size: 14px;
  color: rgba(82, 255, 0, 1);
  display: none;
}


.exito-activo
{
  display: block;
}



.gform-correcto .validar
{
  color: rgba(5, 255, 0, 1);
  opacity: 1;
}



.gform-incorrecto .flabel
{
  color: rgba(255, 0, 0, 1);
}

.gform-incorrecto .validar
{
  color: rgba(255, 0, 0, 1);
  opacity: 1;
}



.gform-incorrecto .gform-in
{
  border: 3px solid #bb2929;
}


/*---------------------------------------------Fuentes-----------------------------------------*/

.one{
  font-family: 'Hind Madurai', sans-serif;
  text-align: center;
}

.tam{
  font-size: 14px;
  text-align: center;
}
.tam1{
  font-size: 7px;
  text-align: center;
}

.hind{
  font-family: 'Hind Siliguri', sans-serif;
}


.centro{
  padding: 50px;
  left: 10%;
  width: 80%;
  top: 40px;
}

.italic
{
  font-weight: 100;
}

.italicM
{
  font-weight: 350;
}

/*----------------------------Boton rojo----------------------------*/

.btn_rojo
{
  width:20px;
  height:20px;
  background-color:red;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
  border: 1px solid #c9c9c9;
}

.btn_rojo:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}


/*----------------------------Boton azul----------------------------*/

.btn_azul
{
  width:20px;
  height:20px;
  background-color: rgb(0, 255, 212);
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
  border: 1px solid #c9c9c9;
}

.btn_azul:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}


/*----------------------------Boton blanco----------------------------*/

.btn_blanco
{
  width:20px;
  height:20px;
  background-color: rgb(255, 255, 255);
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
  border: 1px solid #c9c9c9;
}

.btn_blanco:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}


/*----------------------------Boton negro----------------------------*/

.btn_negro
{
  width:20px;
  height:20px;
  background-color: rgb(0, 0, 0);
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:11px;
  line-height:32px;
  text-transform: uppercase;
  float:left;
  border: 1px solid #c9c9c9;
}

.btn_negro:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}


/*--------------parallax about---------------*/

@media screen and (max-width:770px){
  .centro{
    left: 0;
    width: 100%;
    top: 0;
  }
  .div2
  {
    height: 15vh;
  }
}



.parallax3 {
  /* ls imsghne usada */
  background-image: url(https://static.wixstatic.com/media/a2f4d892cd7547c993040ef5c47d473b.jpg/v1/fill/w_985,h_656,al_c,q_85,usm_0.66_1.00_0.01/impresora%203d.webp);

  /* Set a specific height */

  min-height: 50vw;
  width: 100%;
  height: 1600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax4 {
  /* ls imsghne usada */
  background-image: url(https://static.wixstatic.com/media/b6952131692d4ba886180322b1a12184.jpg/v1/fill/w_700,h_875,al_c,q_85,usm_0.66_1.00_0.01/impresora%203d.webp);

  /* Set a specific height */

  min-height: 50vw;
  width: 100%;
  height: 1600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax5 {
  /* ls imsghne usada */
  background-image: url(https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2020/04/3d_printer_eac_close-up/21982695-1-eng-GB/3D_printer_EAC_close-up_pillars.jpg);

  /* Set a specific height */

  min-height: 50vw;
  width: 100%;
  height: 1600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax6 {
  /* ls imsghne usada */
  background-image: url(https://static.wixstatic.com/media/7d05caf9b09b49a1aef42e71bd52710c.jpg/v1/fill/w_1899,h_825,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/7d05caf9b09b49a1aef42e71bd52710c.webp);

  /* Set a specific height */

  min-height: 50vw;
  width: 100%;
  height: 1600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.mapa
{
  width: 100%;
  height: 92vh;
}

#barraaceptacion
{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5vh;
}

.blanco
{
  color: white;
  font-size: 15px;
  text-align: center;
}
